@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}
.container {    
    max-width: 1130px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}
.header {
    background-color: #1FBD8A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 71px;
    opacity: 0.99;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav__link {
    color: #FFFFFF;
    font-weight: 400; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    transition: .3s ease color;
    margin-right: 45px;
}
.nav__link:hover {
    color: #013A51;
    transition: .3s ease color;
} 
.control {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.control__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    transition: .3s ease color;
    margin-right: 25px;
    padding: 10px 35px;
    transition: .3s ease all;
}
.control__link:hover {
    color:#013A51;
    transition: .3s ease all;
}
.control__link-bg {
    background: #fafdfc;
    border-radius: 50px;
    color: #013A51;
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;    
}
.control__link-bg:hover {
    background-color: #192F44;
    color: #FFFFFF;
    transition: .3s ease all;
}
.main {
    background-color: #1FBD8A;
    padding-top: 109px;
    padding-bottom: 140px;
}
.main-left-col {
    max-width: 504px;
}
.main-description-up {
    background: rgba(255, 255, 255, 0.25);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    border-radius: 33px;
    padding: 9px 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    max-width: 200px;
    margin-bottom: 17px;
}
.main-h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.main-description {
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.main-buttons {
    display:flex;
    justify-content: space-between;
}
.main-button, .page-02-button {
    display: block;
    border-radius: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    border: 0;
}
.button-light {
    color: #013A51;
    background-color: #fff;
    transition: .3s ease all;    
}
.button-light:hover {
    color: #021222;
    background-color: #eaeff3;
    transition: .3s ease all;
}
.button-dark {
    color: #fff;
    background-color: #192F44;
    transition: .3s ease all;
}
.button-dark:hover {
    color: #fff;
    background-color: #021222;
    transition: .3s ease all;
}
.button-green {
    background: #00CA90;
    color:#ffffff;
    transition: .3s ease all;
}
.button-green:hover {
    color: #fff;
    background-color: #00b985;
    transition: .3s ease all;
}
.btn_get-started {
    padding: 15px 84px 19px 84px;
}
.btn_lets-talk1 {
    padding: 15px 90px 19px 90px;
}
.main-img {
/*     max-width: 975px; */
    position: absolute;
    opacity: 100%;
    top: -55px;
    right: -367px;
    max-width: 85%;
}
.main-companies {
    background-color: #fff;
    margin-top: 360px;
    display: flex;
    justify-content: space-between;
    padding: 4px 35px; 
}
.page-02 {
    background-color: #FBFCF5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 150px;
    padding-bottom: 150px;
}
.page-02-description-up {
    text-align: center;
}
.description-up {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #00CA90;
    margin: 0;
}
.page-02-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #013A51;
    padding: 0;
    margin: 9px 0 0 0;
}
.page-02-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #013A51;
    width: 846px;
    text-align: center;
    margin: 17px auto 19px auto;
}
.page-02-buttons {
    margin: 0 0 60px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.btn_get-started-free {
    padding: 15px 58px 19px 58px;
    margin-left: 304px;
}
.btn_lets-talk2 {
    padding: 15px 96px 19px 96px;
    margin-right: 304px;
}
.page-03 {
    background: #F2F4E8;
    padding-top: 150px; 
    padding-bottom: 150px;
}
.page-03_flex {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.page-03-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 41px;
    line-height: 56px;
    color: #013A51;
}
.page-03-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #013A51;
}
.button-transparent {
    border: 2px solid #00CA90;
    border-radius: 50px;
    background: transparent;
    transition: .3s ease all;
}
.button-transparent:hover {
    border: 2px solid #00CA90;
    border-radius: 50px;
    background: #00CA90;
    color: #FFF;
    transition: .3s ease all;
}
.page-03-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #013A51;
}
.btn_learn-more {
    padding: 7px 40px;
    margin-top: 27px;
}
.page-03_icons-icon {
    padding: 60px 0 20px 0;
    margin: 0;
}
.page-03_icons-icon:first-child {
    padding-top: 0;
}
.page-03_icons-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    color: #013A51;
    padding: 0;
    margin: 0 0 10px 0;
}
.page-03_icons-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #5C7782;
    margin: 0;
    padding: 0;
}
.page-04 {
    background: #FBFCF5;
    padding-top: 150px;
    padding-bottom: 155px;
}
.page-04-head, .page-04-foot {
    text-align: center;
    width: 872px;
    margin: 0 auto;
}
.page-04-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    color: #013A51;
}
.page-04-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #013A51;
}
.page-04_flex {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.page-04_flex-elem {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.page-04_flex-elem-left {
    margin-right: 30px;
}
.page-04_flex-elem-right-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #013A51;
    margin: 0 0 10px 0;
}
.page-04_flex-elem-right-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #5C7782;
    margin: 0 0 8px 0;
}
.page-04_flex-elem-right-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #013A51;
    text-decoration: none;
    transition: .3s ease all;
    margin: 0;
}
.page-04_flex-elem-right-link:hover {
    transition: .3s ease all;
    color: #00CA90;
}
.page-04-foot-h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #013A51;
    margin: 0 0 13px 0;
}
.page-04-foot-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #013A51;
    margin: 0 0 19px 0;
}
.page-04-foot-btn {
    padding: 15px 89px;
    border-radius: 50px;
    border-color: transparent;
}
.page-05 {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #0A2540;
}
.page-05-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.page-05-left-col {
    max-width: 555px;
}
.page-05-h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 20px 0 22px 0;
}
.page-05-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.65);
    margin: 0;
}
.page-05-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}
.page-05-button {
    border: 0;
    border-radius: 50px;
}
.btn_get-api {
    padding: 15px 84px 19px 84px;
    margin: 0;
}
.btn_dev-docks{
    padding: 15px 74px 19px 74px;
    margin: 0;
}
.page-06 {
    background: #FFF;
    background-image: url(img/people-image.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 542px 972px;
    padding-top: 81px; 
    padding-bottom: 81px; 
} 
.page-06-text{
    padding-left: 480px;
}
.page-06-text-quote {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: rgba(1, 58, 81, 0.59);
    margin: 0;
    padding: 15px 0 42px 0;
}
.page-06-text-quote_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #013A51;
    margin: 0;
    text-decoration: none;
    transition: .3s ease all;
}
.page-06-text-quote_link:hover {
    transition: .3s ease all;
    color: #00CA90;
}
.page-06-quotes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
    color: #00CA90;
    margin: 0;
}
.page-06-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #013A51;
    margin: 0;
    padding: 10px 0 20px 0;
}
.page-06-description_link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #013A51;
    margin: 0;
    text-decoration: none;
    transition: .3s ease all;
    padding: 20px 0 0 0;
}
.page-06-description_link:hover {
    transition: .3s ease all;
    color: #00CA90;
}
.page-06-links {
    display: flex;
    margin-top: 40px;
}
.page-06-links_img {
    padding-left: 19px;
    padding-right: 38px;
}
.page-06-links-text_column {
    display: flex;
    flex-direction: column;
}
.page-06-links_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #013A51;
    margin: 0;
    text-decoration: none;
    transition: .3s ease all;
}
.page-06-links_text-job {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #013A51;
    margin: 0;
    text-decoration: none;
    transition: .3s ease all;
}
.page-06-links_text:hover, .page-06-links_text-job:hover {
    transition: .3s ease all;
    color: #00CA90;
}
.page-06-button {
    margin-top: 42px;
}
.btn_more-partners {
    padding: 15px 128px 19px 128px;
}
.page-07 {
    background-color: #F2F4E8;
    padding-top: 150px;
    padding-bottom: 150px;
}
.page-07-window {
    border-radius: 30px;
    background-color: #193844;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F2F4E8 217.84%), #193844;
    padding: 74px 0 61px 0;
    position: relative;
    margin-bottom: 150px;
}
.page-07-h2-light {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
.page-07-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 39px;
}
.btn_try {
    padding: 15px 88px 19px 88px;
    border: 0;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-07-description-up {
    text-align: center;
}
.page-07-h2-dark {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 56px;
    text-align: center;
    color: #013A51;
    margin: 9px 0 62px 0;
}
.btn_read-more {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 103px 19px 103px;
}
.footer {
    background-color: #193844;
}
.footer-up {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 52px 0;
}
.button-footer-login {
    background-color: transparent;
    border: 2px solid transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s ease all;
    padding: 1px 10px 3px 10px;
}
.button-footer-login:hover {
    background: #00CA90;
    border-radius: 50px;
    transition: .3s ease all;
    border: 2px solid #00CA90;
    /* color: #193844; */
}
.button-footer-get-api {
    background: #00CA90;
    border-radius: 50px;
    border: 2px solid #00CA90;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    text-align: center;   
    color: #FFFFFF;
    cursor: pointer;
    padding: 1px 40px 3px 40px;
    transition: .3s ease all;
}
.button-footer-get-api:hover {
    background-color: transparent;
    border: 2px solid #00CA90;
    transition: .3s ease all;
    color: #00CA90;
}
.line {
    height: 1px;
    background-color: #275668;
}
.footer-body {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
.footer-column {
    margin-right: 40px;
}
.footer-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 24px;
}
.footer-ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.footer-li {
    margin-bottom: 17px;
}
.footer-li-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
    transition: .3s ease all;
}
.footer-li-link:hover {
    transition: .3s ease all;
    color: #00CA90;
    text-decoration: dotted;
}
.column-5 {
    padding-top: 43px;
}
.coopyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 47px 0 47px 0;
    margin: 0;
}

